.form-container{
    display: grid;
    justify-content: center;
    background-image: url("https://cdn2.bulbagarden.net/upload/thumb/d/d3/Professor_Oaks_Laboratory.png/1200px-Professor_Oaks_Laboratory.png");
    background-size: cover;
}

.pokemon-form{
    width: 500px;
    display: grid;
    grid-gap: 1rem;
    margin: 2rem 0;
    padding: 1rem;
    align-self: flex-start;
    justify-items: center;  
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.60);
    border-radius: .5rem;
    background-color: rgba(255,255,255,0.8);
}
.input-container {
    margin: 1px;
}

.checkbox-container{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, minmax(30px,100px));
    gap: 10px;
}