.pagination-bar{
    display: grid;
    height: 1em;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 1rem;
}

.pagination-numbers{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 900;
    text-align: center;
    padding: 1em;
    transition: all .3s linear;
}

.pagination-numbers:hover {
    color: #ff1744;
    transform: scale(1.15);
}
.pagination-numbers.active {
    color: #ff1744;
}

.pagination-buttons {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    padding: 1.6em;
    transition: all .3s linear;
}

.pagination-buttons:hover {
    color: #ff1744;
    transform: scale(1.15);
}