.navbar{
    display: grid;
    border-bottom: 4px solid black;
    justify-content: space-between; 
    align-items: center;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 1rem;
    padding: 0 100px;
    background: linear-gradient(90deg, rgb(173, 0, 29) 0%, rgb(206, 17, 49) 50%, rgb(173, 0, 29) 100%);
}

.navbar-font{
    font-family: 'Tangerine', serif;
    font-size: 20px;
    text-shadow: 2px 2px 2px #aaa;
}

.link-destyling{
    text-decoration: none;
    color:black;
}

.custom-pokemons-buttons{
    border: none;
    background: none;
    font-family: 'Tangerine', serif;
    font-size: 20px;
    text-shadow: 2px 2px 2px #aaa;
    cursor: pointer;
    transition: all .3s linear;
}

.custom-pokemons-buttons:hover{
    transform: scale(1.05);
}